#conteudo{
    width: calc(85%);
}
body{
    background-color: #ddd;
}
#articleSuperior{
    background-image: linear-gradient(to bottom right, #C20101, #850000);
    width: 98%;
    height: 15%;
    max-height: 300px;
    margin: 1%;
    border-radius: 6px;
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    color: white;
}
#labelSuperior{
    padding-left: 4%;
}
#telaCaixa{
    width: 100%;
    height: 80%;
    display: flex;
    flex-wrap: wrap;
}

#articleBotoes{
    width: 98%;
}
.buttonMarmitex{
    width: 100%;
    height: 80px;
    color: white;
    background-image: linear-gradient(to bottom right, #850000, #C20101);
    border-radius: 10px;
}
.buttonMarmitex:hover{
    transition: 1s;
    background-image: linear-gradient(to bottom right, #C20101, #850000);
}
#botoesSuperiores{
    margin: 1%;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
#botoesInferiores{
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    height: 85%;
    
    margin: 1%;

}
.buttonNumeric{
    width: 24%;
    height: 80px;
    color: white;
    background-image: linear-gradient(to bottom right, #850000, #C20101);
    border-radius: 10px;
   
}
#valorCompra,#valorTotal,#cpf{
    height: 65px;
    width: 100%;
    background-color: #aaa;
    font-size: xx-large;
    margin-top: 4%;
    border-radius: 5px;
}
#confirmarCompra,
#confirmarCompraViagem{
    width: 63%;
}
#opcaoTamanho{
    display: flex;
    flex-direction: row;
}
.labelsTamanho{
    
    background-color: #850000;
    color: white;
    height: 50px;
    justify-content: center;
    margin:2%;
    border-radius: 10px;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#listagemItens{
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    height: 485px;
    
    
    margin: 1%;
    overflow-y: scroll;
    
}
#headTable{
    height: 30px;
}
#bodyTable{
    height: 20px;
    overflow-y: scroll;
}
#tabelaItens{
    width: 100%;
    max-height: 50%;
    border: solid #850000;
    border-radius: 5px;
    font-family: 'Ubuntu', sans-serif;
    
}
#tituloTable{
    background-color: #850000;
    color: white;
    height: 70px;
}
.conteudo{
    background-color: #C20101;
    color: white;
    text-align:center;
}
.botaoExcluir{
    background-color: transparent;
    color: white;
    border: none;
}
.botaoExcluir:hover{
    cursor: pointer;
}
/*#botoesInferiores #pequeno:checked ~ #opcaoTamanho #labelPequena{
    
    background-color: #C20101;
    border: solid yellow 1px;
}*/