<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./../../../public/css/header.css">
    <link rel="stylesheet" href="./../../../public/css/home.css">
    <script src="../../../public/js/registrar.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">
    <title>Recanto do Sul</title>
</head>

<body>
    <header id="menuLateral">
        <li id="tituloHeader">
            <h3 style="color:white">Recanto do Sul</h3>
        </li>
        <input type="checkbox" id="caixa" style="display:none">
        <label for="caixa" class="principais botoesHeaders">
            Caixa</label>
        <ul>
            <button class="botoesHeaders interno Caixa">Caixa</button>
            <button class="botoesHeaders interno Caixa">Relatórios</button>
            <button class="botoesHeaders interno Caixa">Teste</button>
        </ul>

        <input type="checkbox" id="estoque" style="display:none">
        <label for="estoque" class="botoesHeaders principais"> Estoque</label>
        <ul>
            <button class="botoesHeaders interno Estoque"> Teste</button>
            <button class="botoesHeaders interno Estoque"> Teste</button>
            <button class="botoesHeaders interno Estoque"> Teste</button>
        </ul>

        <input type="checkbox" id="conf" style="display:none">
        <label for="conf" class="botoesHeaders principais"> Configurações</label>
        <ul>
            <button class="botoesHeaders interno Conf"> Teste</button>
            <button class="botoesHeaders interno Conf"> Teste</button>
            <button class="botoesHeaders interno Conf"> Teste</button>
        </ul>





    </header>